*.os
*.pyc
*.pydevproject
*.project
*.cproject
*.settings
*.autotools
.*.swp
/build*
/install
cppcheck_results.xml

cmd/client_apps/Android/gen/
cmd/client_apps/Android/bin/

/.config.xml
/.metadata_src_project
/.src_project*

/SConstruct
/bamboo_tools
/boot
/site_scons

*ConfigVersion.cmake
CMakeUserPresets.json
